
         .body {
            margin: 20px, 70px, 20px, 70px;
            border: 70px;
            background-color: whitesmoke;
            

        }
        .card {
            padding: 20px;
            margin: 20px;
           

        }
      
   #card {

   }